.container {
  border-bottom: 1px solid var(--clr-gray-100);
  max-width: 64rem;
  padding: 4rem 0 2rem 0;
  margin: 0 auto;
}

.title {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  line-height: 1;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.125rem;
  line-height: 1.5;
}
